.PopularContainer {
  padding-top: 80px;
  padding-bottom: 30px;
}
.PopularContainer h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.PopularContainer > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.popular-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  padding-bottom: 0.5rem;
  width: 100%;
  height: 380px;
}
.popularcardDescription .popular-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
#Price {
  font-weight: bolder;
  font-size: 1.1rem;
  color: red;
}

.product-image {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.product-image:hover img {
  transform: scale(1.05);
}

.popular-card h2 {
  font-size: 1rem;
  text-align: center;
  color: #222;
}
.popular-card p {
  font-size: 0.9rem;
  text-align: center;
  color: #555;
  margin-bottom: 0.5rem;
}

.popular-card strong {
  font-size: 1rem;
  color: #e63946;
}
.price-BUTTON {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.price-BUTTON button {
  background-color: #0d7104;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  transition: 0.5s ease;
}
.price-BUTTON button:hover {
  background-color: #085200;
}
#addToCart {
  background-color: #918f8f;
}
#addToCart:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: #555555;
}
.PriceContainerShow_CARD {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#Price__firstprice {
  font-weight: bold;
  font-size: 22px;
  color: red;
}
#Beforprice__SHOW {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .popular-card h2 {
    font-size: 1rem;
  }

  .popular-card p {
    font-size: 0.85rem;
  }
  .product-image {
    max-width: 100%;
  }
  .popular-card {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .PopularContainer {
    padding: 1rem;
  }

  .popular-card h2 {
    font-size: 0.95rem;
  }

  .popular-card p {
    font-size: 0.8rem;
  }
}
